/*---Top Level Tab Icons---*/
.icon-tab-host	{
	background-image: url(../images/computer.png);
}


/*---Host Tab Icons---*/
.icon-tab-host-databases {
	background-image: url(../images/database.png);
}

.icon-tab-host-variables	{
	background-image: url(../images/cog.png);
}

.icon-tab-host-status	{
	background-image: url(../images/lightning.png);
}

.icon-tab-host-process-list	{
	background-image: url(../images/page_white_database.png);
}

.icon-tab-host-command-statistics	{
	background-image: url(../images/chart_bar.png);
}


/*---Command Statistics Classes---*/
.tab-host-command-statistics-percentage	{
	background-color: #0D0;
}