/*---Icons---*/
.icon-tab-table	{
	background-image: url(../images/table.png);
}

.icon-tab-table-basic-form {
	background-image: url(../images/table_gear.png);
}


/*---Tab Styles---*/
.tab-table-body {
	padding: 5px;
}

.tab-table-body-border-container {
	background-color: #FFF;
}


/*---Grid Editor---*/
.tab-table-basic-number-column-cell .x-grid-cell-inner {
	background-color: #BBB;
}
.tab-table-basic-number-column, .tab-table-basic-number-column-cell .x-grid-cell-inner	{
	text-align: right !important;
}

.tab-table-basic-primary-key-row-cell .x-grid-cell-inner	{
	font-weight: bold;
}

.tab-table-basic-primary-key-number-cell .x-grid-cell-inner {
	background-image: url(../images/key.png);
	background-position: 2px 1px;
	background-repeat: no-repeat;
}


/*---Data Types---*/
.tab-table-data-type-list-field	{
	padding-left: 15px;
}

.tab-table-data-type-category	{
	color: #000;
}

.tab-table-data-type-list .tab-table-data-type-category	{
	font-weight: bold;
	padding-left: 0px;
}

.tab-table-data-type-integer	{
	color: #00A;
}

.tab-table-data-type-integer-named	{
	color: #25F;
}

.tab-table-data-type-real	{
	color: #08A;
}

.tab-table-data-type-char	{
	color: #0A0;
}

.tab-table-data-type-binary	{
	color: #80A;
}

.tab-table-data-type-temporal	{
	color: #A00;
}

.tab-table-data-type-spatial	{
	color: #A80;
}

.tab-table-data-type-set-of-bits, .tab-table-data-type-set-of-bits-named	{
	color: #888;
}


/*---Deafult Column---*/
.tab-table-editor-default-auto-increment .x-grid-cell-inner	{
	font-weight: bold;
}

.tab-table-editor-default-null-current-timestamp .x-grid-cell-inner	{
	font-weight: bold;
}

.tab-table-editor-default-no-default .x-grid-cell-inner	{
	color: #888;
	font-style: italic;
}